.container__cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.block_buy {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 30px;
}

.block_price,
.block_count {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.block__submit {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.block_price.crossed {
  text-decoration: line-through;
}

.discount_price,
.block_disount {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo {
  &__form {
    border: 5px dashed sandybrown;
    width: 220px;
    margin: 0 auto;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {}

  &__button {}

  &__codes {
    display: flex;
    gap: 5px;
    justify-content: center;
  }
}

.codes {

  &__for-apply {}

  &__applied {}
}