.popup-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup {

  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.8);
  background: rgba(241, 241, 241, 1);
  width: 500rem;

  &__container {
    padding: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &__title {
    text-align: center;
  }

  .popup__input-container {
    display: flex;
  }

  .popup__input {
    text-align: center;
    width: 100%;
    border: 1px solid #000;
  }

  &__person {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  &__button {
    width: 40%;
    margin: 0 auto;
  }
}

.card {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-bottom: 10rem;
  }

  &__number {
    display: flex;
  }

  &__form {
    background-color: rgba(0, 0, 0, 0.2);
    width: 15%;
    border-radius: 5%;
    padding: 5rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: contain;
    margin: 0 auto;
  }

  &__data {
    display: flex;
  }

  &__code {
    display: flex;
  }
}


.popup-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .8);
}

@media (max-width: 720px) {
  .popup {
    width: 300rem;
  }
}

.popup__input.error {
  border: 3rem solid rgbA(255, 0, 0, 1);
}

.error-message {
  font-size: 24rem;
  color: red;
  margin-left: 10rem;
}